.container {
    display: grid;
    margin-top: 10px;
    grid-template-columns: repeat(6, 1fr);
    gap: 5px;
}

.book {
    display: grid;
    grid-column: span 2;
    padding: 10px;
    background-color: teal;
    color:rgb(255, 255, 255);
    border-radius: 2px;
    border: 1px solid black;
    gap: 20px;
    justify-content:center;
}

form label {
    display: block;
    padding: 10px 0;
    box-sizing: border-box;
}

input:invalid {
    border: 1px dashed red;
}